<a href="{:url('goods/user_list')}" ><img src="admin/picture/u1.gif"> 欢迎页</a>
<a href="{:url('goods/user_profile')}"><img src="admin/picture/u2.gif"> 用户信息</a>
<a href="{:url('goods/user_order_list')}"><img src="admin/picture/u3.gif"> 我的订单</a>
<a href="{:url('goods/user_address_list')}"><img src="admin/picture/u4.gif"> 收货地址</a>
<a href="{:url('goods/user_collection_list')}"><img src="admin/picture/u5.gif"> 我的收藏</a>
<a href="{:url('goods/user_message_list')}"><img src="admin/picture/u6.gif"> 我的留言</a>
<a href="{:url('goods/user_tag_list')}"><img src="admin/picture/u7.gif"> 我的标签</a>
<a href="{:url('goods/user_booking_list')}"><img src="admin/picture/u8.gif"> 缺货登记</a>
<a href="{:url('goods/user_bonus')}"><img src="admin/picture/u9.gif"> 我的红包</a>
<a href="{:url('goods/user_affiliate')}"><img src="admin/picture/u10.gif"> 我的推荐</a>
<a href="{:url('goods/user_comment_list')}"><img src="admin/picture/u11.gif"> 我的评论</a>
<!--<a href="user.php?act=group_buy">我的团购</a>-->
<a href="{:url('goods/user_track_packages')}"><img src="admin/picture/u12.gif"> 跟踪包裹</a>
<a href="{:url('goods/user_account_log')}"class="curs"><img src="admin/picture/u13.gif"> 资金管理</a>
<a href="{:url('goods/user_logout')}" style="background:none; text-align:right; margin-right:10px;"><img src="admin/picture/bnt_sign.gif"></a>